#input-div {
    position: fixed;
    margin: 20px 0 0 550px;
    background: lightgray;
}

#input-container {
    margin: 20px 20px 20px 20px;
}

.input-label {
    margin: 20px 0 10px 0;
    font-family: 'Arquitecta W00 Regular', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}

.input-control {
    margin: 10px 0 10px 0;
    height: 30px;
}

#name, #weight, #diet {
    width: 410px;
}

#name:invalid + span::after, #feet:invalid ~ span::after, #inches:invalid + span::after, #weight:invalid + span::after  {
    content: 'X';
}

#name:valid + span:after, #weight:valid + span::after {
    content: '✓';
}

#feet:valid, #inches:valid + span::after {
    content: '✓';
}

#compare-button {
    margin: 10px 0 10px 160px;
    height: 35px;
    width: 100px;
    background: darkkhaki;
}

footer {
    height: 30px;
    width: 100%;
    margin: 490px 0 0 0;
    padding: 5px 0 0 30px;
    background-color: darkkhaki;
}

footer > small {
    font-family: 'Arquitecta W00 Regular', serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
}